.banner {
  position: fixed;
  top: 0;   
  left: 0;  
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #f0f2f5;
  border-bottom: 1px solid gray;
  z-index: 1;
}

.profile-holder {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;   
  right: 0px;  
  max-width: 175px;
}

.profile {
  display: flex;
  align-items: center;
  height:50px;
}

.profile .username {
  margin-right:8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

.profile:hover {
  background-color: #c0c2c5;
}

.profile.clicked {
  border-left: 1px solid gray;
}

.profile-holder button {
  background-color: #f0f2f5;
  border: 1px solid gray;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  padding: 12px;
  width: 100%;
  color: black;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
  box-shadow: 0;
  margin: 0;
}

.profile-holder .button:hover {
  background-color: #c0c2c5;
}

@media screen and (max-width: 600px) {
  .banner .title {
    position: fixed;
    top: 0;   
    left: 5px;  
  }
}