main {
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  height: calc(100% - 60px);
}

.dashboard {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 60px);
  height: 100%;
}

.dashboard > div:nth-child(1) {
  width: 300px;
}

.dashboard > div:nth-child(2) {
  flex-grow: 1;
}

.dashboard > div:not(:last-child) {
  border-right: 1px solid grey;
}

.dashboard-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.dashboard-bar input {
  box-sizing: border-box;
  width: 180px;
}

.dashboard-bar > :nth-child(n+2) {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-bar > :nth-child(3) {
  top: 100%;
  display: flex;
  flex-direction: column;
}


.date-range{
  width: fit-content;
}

.date-range .datepicker-holder{
  display: inline-block;
  width: auto;
  position: static; 
}

.date-range input{
  width: 90px;
}

.date-range .datepicker-holder .react-datepicker{
  right: 0;
}

.streak {
  font-size: 75px;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .dashboard-bar {
    display: block;
    position: relative;
  }

  .dashboard-bar > :nth-child(n+2) {
    position: static;
    right: auto;
  }
}

@media screen and (max-width: 760px) {

  .dashboard > div:nth-child(1) {
    display: none;
  }
}