.task {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 15px;
  padding: 12px;
  align-items: center;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  min-height: 60px;
  text-align: left;
}

.task > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-items: center;
}


.task > .title {
  flex: 2;
  max-width: 200px;
}

.task > .date,
.task > .time {
  flex: 1;
  max-width: 100px;
}

.task > .desc {
  flex: 3;
  max-height: 80px; 
}

.task > .task-options {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.task-popup-content {
  margin:0 auto;
}

.task button {
  margin: 0px auto;
}

.task button > p:nth-child(2) {
  display: none;
}

@media screen and (max-width: 1380px) {
  .task > .time {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .task button {
    padding: 10px 15px;
  }

  .task button > p:nth-child(1) {
    display: none;
  }

  .task button > p:nth-child(2) {
    display: block;
  }
}

@media screen and (max-width: 1040px) {
  .task > .title {
    flex: 1;
  }
  .task > .desc {
    display: none;
  }
}