.popup-content {
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.modal {
  text-align: center; 
  margin: 20px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  padding: 0px;
  max-width: 500px;
}

.modal > div.task-popup-content {
  display: flex;
  justify-content: center;
}

.task-popup-content {
  /* width: auto; */
  /* max-width: 60vw; */
  flex-basis: 100%;
  max-width: 500px;
  padding: 8px;
  margin:0;
}

.button-holder {
  display: flex;
  gap: 10px;
  align-self: center;
  width: 100%;
}

.modal > .button-holder{
  max-width: 320px;
}

.button-holder > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.button-holder button {
  width: 100%;
  margin-bottom: 0px;
}

.modal div.task-popup-content input.task-popup-content {  
  display: flex;
  width:100%;
  max-width: 300px;
}


.datepicker-holder
{
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.datepicker-holder input
{
  display:block;
}

.datepicker-holder .react-datepicker
{
  top: 100%;
  position: absolute;
  /* width: 100%;
  max-width: 300px;
  padding:8px; */
}

.react-datepicker button
{
  margin: 0px;
  border-radius: 4px;
  box-shadow: none;
}


input[type="time"]{
  font-family: "Arial", sans-serif;
}


@media screen and (max-width: 900px) {
  .date-range{
    position: relative; 
  }

  .date-range .datepicker-holder .react-datepicker{
    /* right: -90%;  */
    right: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }
}