@import "./Stylesheets/banner.css";
@import "./Stylesheets/dashboard.css";
@import "./Stylesheets/task.css";
@import "./Stylesheets/userinput.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #4caf50;
  --secondary-color: #ff9800;
  --font-base: "Inter", sans-serif;
  --spacing: 8px;
}

body{
  font-family: var(--font-base);
  background-color: #f0f2f5;
  color: #23283f;
  line-height: 1.6;
  text-align: center;
  font-size:16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.error-text {
  color: red;
  font-size: 12px;
}


.large-icon {
  max-width: 250px;
  height: auto;
  margin: 10px;
}

.icon {
  width: 40px;
  height: auto;
  margin: 5px;
}

button {
  background-color: #276c92;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: white;
  padding: 15px 32px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  display: inline-block;
  text-align: center;
  margin: 10px auto;
}

.button:hover {
  background-color: #074c72;
}

.yellow.button {
  background-color: #FFB63E;
}

.yellow.button:hover {
  background-color: #DF961E;
}

.wide-button-holder {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center; 
}

.wide-button-holder > div:not(:last-child) > button {
  margin-bottom: 0px;
}

.wide-button-holder > div{
  width:100%;
  max-width: 300px;
}

.wide-button-holder button{
  width: 100%;
}