@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f0f2f5;
  color: #23283f;
  line-height: 1.6;
  text-align: center;
}


:root {
  --primary-color: #4caf50;
  --secondary-color: #ff9800;
  --font-base: "Inter", sans-serif;
  --spacing: 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: #276c92;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  margin: 10px auto;
}

button > p:nth-child(2) {
  display: none;
}

.button:hover {
  background-color: #074c72;
}


.yellow.button {
  background-color: #FFB63E;
}

.yellow.button:hover {
  background-color: #DF961E;
}

.icon {
  max-width: 250px;
  height: auto;
  margin: 10px;
}


.wide-button-holder {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center; 
}

.wide-button-holder > div:not(:last-child) > button {
  margin-bottom: 0px;
}

.wide-button-holder > div{
  width:100%;
  max-width: 300px;
}

.wide-button-holder button{
  width: 100%;
}


.task {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 15px;
  padding: 12px;
  align-items: center;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  min-height: 60px;
  text-align: left;
}

.task > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-items: center;
}


.task > div:nth-child(1) {
  flex: 2;
  max-width: 200px;
}

.task > div:nth-child(2),
.task > div:nth-child(3) {
  flex: 1;
  max-width: 100px;
}


.task > div:nth-child(4) {
  flex: 3;
  max-height: 80px; 
}

.task > div:nth-last-child(1) {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.task-popup-content {
  margin:0 auto;
}

.task button {
  margin: 0px auto;
}

.popup-content {
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.modal {
  text-align: center; 
  margin: 20px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  padding: 0px;
  max-width: 500px;
}

.task-popup-content {
  /* width: auto; */
  /* max-width: 60vw; */
  flex-basis: 100%;
  max-width: 500px;
  padding: 8px;
  margin:0;
}

.modal > div.task-popup-content {
  display: flex;
  justify-content: center;
}


.button-holder {
  display: flex;
  gap: 10px;
  align-self: center;
  width: 100%;
}

.button-holder > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.modal > .button-holder{
  max-width: 320px;
}

.button-holder button {
  width: 100%;
  margin-bottom: 0px;
}

.modal > div.task-popup-content >input.task-popup-content {  
  display: flex;
  width:100%;
  max-width: 300px;
}


@media screen and (max-width: 1080px) {
  .task > div:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .task button {
    padding: 10px 15px;
  }

  button > p:nth-child(1) {
    display: none;
  }

  button > p:nth-child(2) {
    display: block;
  }
}

@media screen and (max-width: 740px) {

  .task > div:nth-child(1) {
    flex: 1;
  }
  .task > div:nth-child(4) {
    display: none;
  }
}