@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
}

body{
  font-family: "Inter", sans-serif;
  background-color: #f0f2f5;
  color: #23283f;
  line-height: 1.6;
  text-align: center;
  font-size:16px;
}


:root {
  --primary-color: #4caf50;
  --secondary-color: #ff9800;
  --font-base: "Inter", sans-serif;
  --spacing: 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.error-text {
  color: red;
  font-size: 12px;
}


.banner {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;   
  left: 0;  
  width: 100%;
  background-color: #f0f2f5;
  border-bottom: 1px solid gray;
  height:50px;
  z-index: 1;
}

.profile-holder {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;   
  right: 0px;  
  max-width: 175px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  height:50px;
}

.profile .username {
  margin-right:8px;
}


.profile:hover {
  background-color: #c0c2c5;
}

.profile.clicked {
  border-left: 1px solid gray;
}

.profile-holder button {
  background-color: #f0f2f5;
  border: 1px solid gray;
  font-family: "Inter", sans-serif;
  font-weight: normal;

  padding: 12px;
  width: 100%;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 0px;
  box-shadow: 0;
  margin: 0;
}

.profile-holder .button:hover {
  background-color: #c0c2c5;
}



.username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

main {
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  height: calc(100% - 60px);
}

.dashboard {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 60px);
  height: 100%;
}

.dashboard > div:nth-child(1) {
  width: 300px;
  /* flex-grow: 1; */
}

.dashboard > div:nth-child(2) {
  /* width: calc(100% - 350px); */
  flex-grow: 1;
}

.dashboard > div:not(:last-child) {
  border-right: 1px solid grey;
}

.dashboard-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.dashboard-bar input {
  box-sizing: border-box;
  width: 180px;
}

.dashboard-bar > :nth-child(n+2) {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-bar > :nth-child(3) {
  top: 100%;
  display: flex;
  flex-direction: column;
}


.date-range{
  widtH: fit-content;
}

.date-range .datepicker-holder{
  display: inline-block;
  width: auto;
  position: static; 
}

.date-range input{
  width: 90px;
}

.date-range .datepicker-holder .react-datepicker{
  right: 0px;
}


.large-icon {
  max-width: 250px;
  height: auto;
  margin: 10px;
}

.icon {
  width: 40px;
  height: auto;
  margin: 5px;
}

.streak {
  font-size: 75px;
  font-weight: bold;
}


button {
  background-color: #276c92;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  margin: 10px auto;
}

button > p:nth-child(2) {
  display: none;
}

.button:hover {
  background-color: #074c72;
}


.yellow.button {
  background-color: #FFB63E;
}

.yellow.button:hover {
  background-color: #DF961E;
}


.wide-button-holder {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center; 
}

.wide-button-holder > div:not(:last-child) > button {
  margin-bottom: 0px;
}

.wide-button-holder > div{
  width:100%;
  max-width: 300px;
}

.wide-button-holder button{
  width: 100%;
}


.task {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 15px;
  padding: 12px;
  align-items: center;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  min-height: 60px;
  text-align: left;
}

.task > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-items: center;
}


.task > div:nth-child(1) {
  flex: 2;
  max-width: 200px;
}

.task > div:nth-child(2),
.task > div:nth-child(3) {
  flex: 1;
  max-width: 100px;
}


.task > div:nth-child(4) {
  flex: 3;
  max-height: 80px; 
}

.task > div:nth-last-child(1) {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.task-popup-content {
  margin:0 auto;
}

.task button {
  margin: 0px auto;
}

.popup-content {
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.modal {
  text-align: center; 
  margin: 20px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  padding: 0px;
  max-width: 500px;
}

.task-popup-content {
  /* width: auto; */
  /* max-width: 60vw; */
  flex-basis: 100%;
  max-width: 500px;
  padding: 8px;
  margin:0;
}

.modal > div.task-popup-content {
  display: flex;
  justify-content: center;
}


.button-holder {
  display: flex;
  gap: 10px;
  align-self: center;
  width: 100%;
}

.button-holder > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.modal > .button-holder{
  max-width: 320px;
}

.button-holder button {
  width: 100%;
  margin-bottom: 0px;
}

.modal div.task-popup-content input.task-popup-content {  
  display: flex;
  width:100%;
  max-width: 300px;
}


.datepicker-holder
{
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.datepicker-holder input
{
  display:block;
}

.datepicker-holder .react-datepicker
{
  top: 100%;
  position: absolute;
  /* width: 100%;
  max-width: 300px;
  padding:8px; */
}

.react-datepicker button
{
  margin: 0px;
  border-radius: 4px;
  box-shadow: none;
}


input[type="time"]{
  font-family: "Arial", sans-serif;
}


@media screen and (max-width: 1380px) {
  .task > div:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .task button {
    padding: 10px 15px;
  }

  button > p:nth-child(1) {
    display: none;
  }

  button > p:nth-child(2) {
    display: block;
  }
}

@media screen and (max-width: 1040px) {

  .task > div:nth-child(1) {
    flex: 1;
  }
  .task > div:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 900px) {

  .dashboard-bar {
    display: block;
    position: relative;
  }

  .dashboard-bar > :nth-child(n+2) {
    position: static;
    right: auto;
  }

  .date-range{
    position: relative; 
  }


  .date-range .datepicker-holder .react-datepicker{
    /* right: -90%;  */
    right: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }

}


@media screen and (max-width: 760px) {

  .dashboard > div:nth-child(1) {
    display: none;
  }
}

@media screen and (max-width: 600px) {

  .banner .title {
    position: fixed;
    top: 0;   
    left: 5px;  
  }
}